@model IEnumerable<NonProfitSite.Models.Event>
@{
    ViewData["Title"] = "Events Management";
}
<h1>Events</h1>
<table class="table">
    <thead><tr><th>Start</th><th>Title</th><th>Location</th></tr></thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Start?.ToLocalTime().ToString("g")</td>
                <td>@e.Title</td>
                <td>@e.Location</td>
            </tr>
        }
    </tbody>
</table>
